.theecanvas-container{
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
}

.theecanvas-container .graduation-line {
  stroke: #000;
  stroke-width: 1;
}

.theecanvas-container .curve-line {
  stroke: #000;
  stroke-width: 2;
}

.theecanvas-container .theecanvas-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.theecanvas-container .theecanvas-legendbox {
  position: absolute;
  width:120px;
  padding: 6px;
  top: 10px;
  right: 10px;
  background: #fff;
  border: 1px #ced4da solid;
}

.theecanvas-container .theecanvas-legendbox span{
  display: inline-block;
  width:100%;
  font-size: 12px;
  line-height: 14px;
}

.theecanvas-container .theecanvas-legendbox span>span.line{
  width:30px;
  height: 2px;
  margin: 6px 6px 0 0;
  float: left;
  background: cyan;
}