/* You can add global styles to this file, and also import other style files */
.gest-print{
    display: none;
}

.footer {
	background-color: #f5f5f5;
	border-top: #9c9c9c 1px solid;
	width: 100%;
	padding-top: .1rem;
}

.footer .pgtitle {
    font-style: italic;
    color: #00b265;
}

.footer p {
    margin-bottom: .1rem;
}

.footer .logo-icon, .footer .logo-icon svg.iconografia {
    width: 30px;
    height: 30px;
}

.footer .button-to-end {
    display: none;
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .footer {
        position: fixed;
        bottom: 0;
    }

    .body-content {
        margin-bottom: 120px;
    }
}

@media print {
    .aisuite-menu-head{
        display: none;
    }
    .gest-print{
        display: inline-block;
    }
    .ungest-print{
        display: none;
    }
    .footer {
        position: relative;
        bottom: auto;
    }
    #refreport-button{
        display: none;
    }
    .debug-aiform{
        display: none;
    }
    .illust-info{
        display: block !important;
        font-size: 75%;
        line-height: 100%;
    }
    .fig-corr img{
        max-width: 99%;
    }
    input {
        border: 1px solid #777;
    }
    div.illust-info {
        page-break-inside: avoid;
    }
}